
*::before {
  padding: 0px;
  margin: 0px;
  font-family: inherit;
}
html,
body {
  height: 100vh;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(138, 172, 203);
}
.counter_conatiner {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-top: 1rem;
}
span {
  font-size: 3rem;
  background-color: #00bb00;
  padding: 2px 12px;
  margin-left: 16px;
  margin-right: 16px;
  border-radius: 4px;
  color: #fff;
}
button {
  font-size: 2rem;
  cursor: pointer;
  background-color: transparent;
  border: 0px;
  background-color: rgb(138, 206, 103);
  border-radius: 5px;
  height: 50px;
  width: 50px;
}

.counter h1{
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 100px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

